:root {
    --cor-primaria: #060417;
    --cor-primaria-lighter: calc(var(--cor-primaria) + 5%);

    --cor-secundaria: #5d9cd3;
    --cor-secundaria-2: #3e3b60;
    --cor-destaque: #e74c3c;
    --color-text: #FFFF
}

html,
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria);
    /* height: 100vh; */
}


.description-site h1 {
    /* overflow: hidden; */
    border-right: none;
    white-space: none;
    animation: none;
}

.style-img-artigo {
    /* width: 1200px; */
    height: 400px;

}


.style-img-artigo img {
    width: 100%;
    height: 500px;
    /* display: block; */
    /* border-radius: 15px 15px 0px 0px; */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1065px;

}

.description-site {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: red; */
    width: 700px;
    border-radius: 15px 15px 0px 0px;

}

h2 {
    margin-top: 20px;
}

.description-site p {
    max-width: 700px;
}

#tipos-poo {
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 700px;
    color: var(--color-text);

}

.topic h3 {
    color: var(--color-text);
    font-size: 25px;
}

.about {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0px 5px 0px;
}

.about img {
    width: 50px;
    height: 50px;
}

#about-date {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#about-date span {
    font-size: 12px;
}

hr {
    /* width: 100%; */
    border: 1px solid var(--color-text);
}

.fist-div {
    min-width: 400px;
}

.paragraph {}

.paragraph-div {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.paragraph-image {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 8px;
}

.paragraph-image img {
    padding: 5px;
    align-items: center;
    width: 400px;
}



/* Dispositivos muito pequenos (telefones em modo retrato) */
@media (max-width: 320px) {
    .description-site h1 {
        font-size: 20px;
    }

    .about {
        width: 300px;
    }

    .content h3 {
        font-size: 15px;
    }
}

/* Dispositivos pequenos (telefones em modo retrato) */
@media (min-width: 321px) and (max-width: 480px) {
    .description-site h1 {
        font-size: 20px;
    }

    .about {
        width: 400px;
    }

    .content h3 {
        font-size: 15px;
    }

}

/* Dispositivos médios (telefones em modo paisagem) */
@media (min-width: 481px) and (max-width: 767px) {

    .about {
        width: 400px;
    }

    .description-site h1 {
        font-size: 25px;
    }

    .content h3 {
        font-size: 20px;
    }
}

/* Dispositivos grandes (tablets em modo retrato) */
@media (min-width: 768px) and (max-width: 1024px) {



    h1 {
        font-size: 40px;
    }

    .content h3 {
        font-size: 30px;
    }
}

/* Dispositivos muito grandes (tablets em modo paisagem e pequenos desktops) */
@media (min-width: 1025px) and (max-width: 1200px) {
    h1 {
        font-size: 40px;
    }

}

/* Desktops padrão */
@media (min-width: 1201px) and (max-width: 1601px) {
    h1 {
        font-size: 40px;
    }

}

/* Desktops grandes */
@media (min-width: 1601px) {
    h1 {
        font-size: 40px;
    }

}